*{
    font-family:Verdana, sans-serif;
}
body{
    margin:0px;
}
img{
    width:18vw;;
}
a:-webkit-any-link {
    text-decoration: none;
}
#header{
    position: sticky;
    top:0;
    z-index: 1;
    background-color:white;
}
.heading{
    display:inline-block;
    vertical-align: middle;
    margin:15px 15px 25px 15px;
}
#header_section2{
    margin-right:0%;
}
.header_content{
    margin:10px;
    color: rgb(70, 65, 65);
    font-weight: bold;
    font-size: .85em;
}
#home_header, .header_content:hover{
    padding-bottom:1px;
    border-bottom:2px solid rgb(233, 135, 6);
}
#contactUs_header{
    margin-right:24px;
}
#contactUs_header{
    padding: 10px 20px;
    border:0px;
    border-radius: 5px;
    color:white;
    background-color:rgb(247, 115, 8);
}
#imageForOverlap{
    width: 100%;
}
.container{
    position:relative;
    text-align: left;
    color: white;
    font-weight: bolder;
}
.headingOverlap{
    position:absolute;
    width:51%;
    top: 100px;
    left:150px;
    font-size: 2.5em;
}
#diversityInTech{
    text-decoration:underline rgb(247,115,8) 17px;
    z-index: 0;
}
.paragraphOverlap{
    line-height:30px;
    position: absolute;
    top:400px;
    width: 660px;
    padding: 10px 10% 10px 150px;
    background-color: rgb(74, 74, 170);
}
#codeDifferentlySpan{
    color:orange;
}
#ourPrograms, #whyCodeDifferently{
    margin-left: 13vw;
    text-align: left;
    color:rgb(70, 65, 65);
}
#ourPrograms_title, #whyCodeDifferently_title{
    font-size: 1.5em;
    margin: 75px 0 40px;
    font-weight: bolder;
    letter-spacing: -1px;
}
.ourProgramsSubsection{
    display:inline-block;
    width:550px;
    /*border:2px solid black;*/
}
.titleOurPrograms{
    font-size: 1.1em;
    margin-bottom:35px;
}
.paragraphOurPrograms{
    color:rgb(92, 92, 92);
    line-height:27px;
}
.buttonOurPrograms{
    background-color:white;
    border-color: black;
    border-width: 2px;
    padding:10px 20px;
    border-radius: 5px;
}
.textButtonsOurPrograms{
    color:black;
}
.whyCodeDifferently_box{
    margin: 2%;
}

